<h2 class="title">Add Movie</h2>
<form class="form" [formGroup]="movieForm">
    <div class="form-group"
         [class.error]="handleValidateFormControl(movieForm.controls['title'])">
        <label for="title">Title:</label>
        <em *ngIf="handleValidateFormControl(movieForm.controls['title'])">Field
            Required</em>
        <input class="form-control" id="title" formControlName="title" placeholder="Title..."
               required
               type="text">
    </div>
    <div class="form-group"
         [class.error]="handleValidateFormControl(movieForm.controls['description'])">
        <label for="description">Description:</label>
        <em *ngIf="handleValidateFormControl(movieForm.controls['description'])">Field
            Required</em>

        <textarea class="form-control" id="description" formControlName="description"
                  placeholder="Description..." required
                  type="email">
        </textarea>
    </div>
    <div class="form-group"
         [class.error]="handleValidateFormControl(movieForm.controls['genre'])">
        <label for="genre">Genre:</label>
        <em *ngIf="handleValidateFormControl(movieForm.controls['genre'])">Field
            Required</em>
        <input class="form-control" id="genre" formControlName="genre" placeholder="Genre..."
               required
               type="text">
    </div>
    <div class="form-group" [class.error]="handleValidateFormControl(movieForm.controls['preview'])">
        <label for="preview">Preview:</label>
        <em *ngIf="handleValidateFormControl(movieForm.controls['preview'])">Field
            Required</em>
        <input id="preview" formControlName="preview" type="text"
               class="form-control" placeholder="Url of image..."/>
    </div>

    <div class="buttons">
        <span (mouseenter)="mouseoverLogin=true" (mouseleave)="mouseoverLogin=false">
            <app-button type="submit" [disabled]="movieForm.invalid"
                        (click)="handleAddMovie()">Add Movie</app-button>
        </span>
        <app-button (click)="handleCancelButtonClick()">Cancel</app-button>
    </div>
</form>
