:host {
  padding: 0 50px;
  display: flex;
  flex-flow: row nowrap;
  margin-top: 50px;
}

.title {
  color: hsla(0, 0%, 100%, .8);
}

.img {
  width: 100%;
  height: auto;
  max-width: 400px;
  border-radius: 5px;
}

.preview {
  display: flex;
  flex-flow: row nowrap;
}

.info {
  font-size: 24px;
  margin-left: 100px;
  max-width: 600px;
  color: hsla(0, 0%, 100%, .8);
}
