<div class="wrapper">
    <div class="main">
        <div class="info">
            <h2 class="title">{{cinema?.title}}</h2>
            <p class="address">{{cinema?.address}}</p>
        </div>
        <div class="buttons">
            <app-button>Buy ticket</app-button>
            <app-button (click)="handleCancelClick()">Cancel</app-button>
        </div>
    </div>
    <div class="preview"
         [ngStyle]="{'background-image': 'url(' + cinema?.preview + ')'}">
    </div>
</div>
<div class="sessions">
    <app-accordion class="accordion" [collapsing]="!collapsing">
        <accordion-item title="Sessions">
            <ng-template appAccordionContent>
                <div class="session" *ngFor="let group of groupedSessionsByDate">
                    <div class="session-date">{{group.date | date}}</div>
                    <span *ngFor="let session of group.sessions; index as i;">
                        <span [routerLink]="['/movie', session.movie.id]" class="session-title"
                              *ngIf="i < 1">{{session.movie?.title}} | </span>
                        <span class="session-start">{{session?.startsAt | date: "HH:mm"}}</span>
                    </span>
                </div>
            </ng-template>
        </accordion-item>
    </app-accordion>
</div>
