<h2 class="heading">Login</h2>
<form class="form" [formGroup]="loginForm" (ngSubmit)="handleLoginUser()" autocomplete="off" novalidate>
    <div class="form-group"
         [class.error]="handleValidateLogin()">
        <label for="userName">User Name:</label>
        <em *ngIf="handleValidateLogin()">Field
            Required</em>
        <input class="form-control" id="userName" formControlName="userName" placeholder="User Name..."
               required
               type="text">
    </div>
    <div class="form-group"
         [class.error]="handleValidatePassword()">
        <label for="password">Password:</label>
        <em *ngIf="handleValidatePassword()">Field
            Required</em>
        <input class="form-control" id="password" formControlName="userPassword"
               placeholder="Password..." required
               type="password">
    </div>
    <div class="link">
        Still don't have an account? <a [routerLink]="['/user/registration']">Register!</a>
    </div>
    <div class="buttons">
        <span (mouseenter)="mouseoverLogin=true" (mouseleave)="mouseoverLogin=false">
            <app-button [text]="'Login'" type="submit" [disabled]="this.loginForm.invalid"></app-button>
        </span>
        <app-button (click)="handleCancelButtonClick()" [text]="'Cancel'"></app-button>
    </div>
</form>
