:host {
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.preview {
  width: 220px;
  height: 320px;
  border-radius: 10px;
  transition: all .2s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }
}

.title {
  color: hsla(0, 0%, 100%, .8);
  font-size: 18px;
}

.inner {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.genre {
  color: rgba(255, 255, 255, 0.35);
}

