@mixin form-group-styles {
  .img {
    margin-top: 15px;
  }

  .form-group {
    position: relative;

    & > em {
      position: absolute;
      top: 0;
      right: 0;
      color: #ec475c;
    }
  }
}

@mixin form-group-error {
  .error {
    & input, textarea {
      background-color: #ec475c;
    }

    &::-webkit-input-placeholder {
      color: #999;
    }

    &::-moz-placeholder {
      color: #999;
    }

    &:-moz-placeholder {
      color: #999;
    }

    &::-ms-input-placeholder {
      color: #999;
    }
  }
}

@mixin form-control-styles {
  .button {
    margin-left: 10px;
  }

  .form {
    max-width: 300px;
  }

  label, .title {
    color: hsla(0, 0%, 100%, .8);
  }

  textarea {
    min-height: 80px;
    padding: 5px 10px;
  }

  .form-control {
    height: 40px;
    padding: 5px 10px;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    border: none;
    outline: none;
    transition: all 0.2s ease 0s;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.1);
    color: hsla(0, 0%, 100%, .8);
    margin: 10px 0;

    &::placeholder {
      color: hsla(0, 0%, 100%, .8);
    }

    &:focus {
      box-shadow: rgb(28 156 223) 0 0 0 1px inset;
    }
  }

  .link, {
    color: hsla(0, 0%, 100%, .8);

    & a {
      color: #d40754;
    }
  }

  .buttons {
    margin-top: 10px;
  }

  em {
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 0;
    margin-left: auto;
    color: #E05C65;
    padding-left: 10px;
  }
}
