* {
  box-sizing: border-box;
}

html, body {
  font-family: Ubuntu, Roboto, Arial, Helvetica, sans-serif;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 16px;
}

.heading {
  color: hsla(0, 0%, 100%, .8);
  font-size: 30px;
}
